/**
 * Site header
 */
.site-header {
    background-color: $brand-color;
    /*border-bottom: 1px solid $grey-color-light;*/
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    color: $background-color;
    font-size: 28px;
    font-weight: 300;
    line-height: 56px;
    margin-bottom: 0;
    float: left;
    font-family: $title-font-family;
    letter-spacing: 1px;
}

.site-nav {
    line-height: 56px;
    text-align: right;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $background-color;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: $base-line-height;
        text-transform: uppercase;
        font-family: $title-font-family;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 30px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        padding-top: 8px;
        top: 9px;
        right: 30px;
/*        background-color: $brand-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;*/
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 25px;
            line-height: 0;
            padding-top: 5px;
            text-align: right;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $background-color;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover {
            background-color: none;
        }

        &:hover .trigger {
            background-color: $brand-color;
            border: 1px solid $grey-color-light;
            border-radius: 5px;
            display: block;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
            text-transform: uppercase;
        }
    }
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding-top: 15px;
    padding-bottom: 15px;
}

.copyright {
    color: $grey-color;
    display: block;
    font-weight: 400;
    line-height: $spacing-unit;
    text-align: center;
}

.footer-page-link {
    display: block;
    font-family: $title-font-family;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: $spacing-unit;
    text-transform: uppercase;
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.rss-subscribe {
    font-family: $title-font-family;
    text-align: center;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit * 1.5;
    }
}

.recent-post-list {
    list-style: none;
    margin: 15px 0 0 0;
    padding: 0 15px 0 15px;

    li {
        
        margin-bottom: 15px;
        padding-left: 10px;

    }

    .post-meta {
        line-height: 24px;
    }
}

.post-meta {
    color: $grey-color;
    font-family: $title-font-family;
    font-size: $small-font-size;
    font-weight: 300;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.post-link {
    display: block;
    font-family: $title-font-family;
    font-size: 28px;
}

.recent-post-link {
    display: inline;
    font-family: $title-font-family;
    font-size: 18px;
    line-height: 24px;
    padding-left: 15px;
}

.read-more-link {
    font-weight: 300;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    margin-top: 0px;
}

.post-title {
    font-family: $title-font-family;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


/**
 * Hero
 */
.hero {
    background-color: $brand-color;
    font-family: $title-font-family;
    padding-top: $spacing-unit / 2;
    padding-bottom: $spacing-unit;
    text-align: center;
}

.hero h2 {
    color: $background-color;
    font-size: 44px;
    font-style: italic;
    font-weight: 200;    
}

.hero p {
    color: $grey-color-light;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}


/**
 * Teasers
 */
.teaser {
    padding-top: 30px;
    
    h3 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }

    img {
        border-radius: 5px;
        display: block;
        margin-bottom: 22px;
        max-width: 100%;

        &:hover {
            opacity: 0.5;
        }
    }
}

.col-1-3,
.col-2-3,
.col-1-2 {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: top;
}

.col-1-3 {
    width: 33.33%;
}

.col-2-3 {
    width: 66.66%;
}

.col-1-2 {
    width: 50%;
}


/**
 * Project page
 */
.project-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit * 1.5;
        border: 2px solid $grey-color-light;
        border-radius: 7px; 

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.project-description {
    padding: 20px;
    vertical-align: middle;
}

.project-title,
.front-page-section h2 {
    background-color: $brand-color;
    border-radius: 5px 5px 0 0;
    color: $background-color;
    font-family: $title-font-family;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}

/**
 * Button
 */
.btn {
    background-color: $brand-color;
    border: 1px solid #dfe2e5;
    border-radius: 5px;
    color: $background-color;
    /*cursor: pointer;*/
    display: block;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.5px;
    line-height: 2;
    margin: 0 auto;
    padding: 60px auto;
    width: 160px;

    &:hover {
        /*background-color: $background-color;*/
        color: $grey-color;
    }
}


/**
 * About page
 */
.about-container {
    border: 1px solid $brand-color;
    border-radius: 7px;
    margin: 100px auto 30px auto;
    max-width: 500px;
    padding: 0 $spacing-unit;
    padding-bottom: $spacing-unit / 2;
    text-align: center;
}

.profile-pic-container {
    border: 3px solid $background-color;
    border-radius: 50%;
    box-shadow: 0 0 0 2px $brand-color;
    height: 206px;
    width: 206px;
    margin: -100px auto $spacing-unit auto;
    vertical-align: top;
}

.profile-pic {
    border-radius: 50%;
    display: block;
    height: 200px;
    vertical-align: top;
}


.front-page-section {
    border: 2px solid $grey-color-light;
    border-radius: 7px;
    margin: $spacing-unit auto;
}

.iframe-aspect{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.iframe-aspect .youtube {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
}

.front-page-description {
    padding: 15px 15px 0 15px;
}
